.introduction {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-image: url(../img/background.jpg);
    user-select: none;
}

.description {
    font-family: var(--button-font-family);
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    width: 60%;
}

.enter_name {
    font-family: var(--number-font-family);
    /* font-weight: bold; */
    font-style: italic;
    font-size: x-large;
    text-align: center;
    width: 60%;
    margin-top: 50px;
}

.input {
    background-color: var(--input-color);
    height: 30px;
    font-family: var(--number-font-family);
    font-size: large;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;    
}

.input::placeholder {
    color: var(--input-placeholder-color);
}

.start_game_button {
    width: 100px;
    height: 100px;
    background-color: var(--start-game-button-color);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5),
        0px 0px 20px 10px rgba(0, 0, 0, 0.3),
        0px 0px 30px 15px rgba(0, 0, 0, 0.2),
        0px 0px 40px 20px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s linear;
}

.start_game_button:hover {
    transform: scale(1.1);
}

.error {
    border: 2px solid red;
    box-shadow: 0px 0px 10px 5px red,
    0px 0px 20px 10px red,
    0px 0px 30px 15px red,
    0px 0px 40px 20px red;
}